@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


:root {
   
    --secondary-color: #ebB017;
    --dark-color: #053634;
   
    --background-color: #f0f1EA;
   
    --light-background-color: #f8f6f1;
}


.navbar{
    background-color: var(--light-background-color) !important;
}

.navbar .nav-item :hover{
border-bottom: 2px solid var(--secondary-color);
}
.navbar .nav-item :focus{
    border-bottom: 2px solid var(--secondary-color);
    }
.hero,.news,.contact {
    background-color: var(--background-color);
}
.about,.testonimils,.blog,.portfolios, footer {
    background-color: var(--light-background-color);
}
.logo{
    border-bottom: 2px solid var(--body-text-color);
}
footer li{
   list-style: none;

}
footer li a{
  text-decoration: none;
  color: black;

}
.images img:hover{
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
  

}
.copy{
    border-top: 1px solid var(--dark-color);
}
section .content h1 ,section .content h2 ,section .content h3 ,section .content h4 ,section .content h5 ,section .content h6 {
     font-family: "Playfair", serif;
     font-weight: bolder !important;
}
section .content p ,section .content b ,section .content li{
     font-family: "Raleway", sans-serif;
    
}
section .content{
    animation: left  linear ;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
section img{
    animation: right  linear ;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@keyframes left {
    from{
        opacity: 0;
        transform: translatex(-100px) ;
    }
    
    to{

        opacity: 1;
        transform: translatex(0) ;
    }
}
@keyframes right {
    from{
        opacity: 0;
        transform: translatex(100px) ;
    }
    
    to{

        opacity: 1;
        transform: translatex(0) ;
    }
}
/* {} */

@media(max-width:1200px){
    .logo{
        flex-direction: column !important;
        align-items: center;
        
    }
   
}